<div class="justify-center grid-cols-5 gap-8 py-6 bg-aths sm:gap-12 shrink-0"> 
</div>

<div class="grid-cols-3 md:grid-cols-6 gap-y-4">
</div>

<div class="h-24"></div>
<div class="h-16"></div>
<div class="h-12"></div>
<div class="h-10"></div>



<div class="absolute items-center justify-between object-scale-down py-6 mr-2 duration-300 md:grid md:grid-cols-5 bg-dark-engine whitespace-nowrap">
</div>


<!-- booking banner -->
<div class="
-mt-12
bg-brick-pattern
bg-white
border
border-white
duration-1000
ease
ease-out
group
group-hover:-translate-x-40
h-32
hover:bg-gradient-to-r
hover:from-gray-10
hover:no-underline
hover:ring-1
hover:ring-offset-1
hover:ring-white 
hover:text-white
hover:to-gray-50
items-center
justify-center
mb-2
mr-6
my-24
opacity-10
overflow-hidden
p-4
pace-x-6
prose
px-5
py-2.5
relative
right-0
rotate-12
sm:flex
sm:space-x-6
space-x-2
text-white
transform
transition-all
translate-x-12
w-8
">
</div>

<!-- mce signup -->
<div class="w-full grid-cols-1 gap-2 px-4 py-4 text-center text-white border border-white cursor-pointer bg-baragon hover:bg-bakers focus:outline-none focus:ring-2 focus:ring-white focus:border-white sm:space-x-8">
</div>

<div class="
flex-col items-center justify-center space-x-8 space-y-8 sm:space-y-0 sm:flex-row
bg-transparent mt-0 px-0.5 border-0 border-b text-aths-light border-aths-light col-span-1
focus:ring-0 focus:border-white mr-2 mx-4 py-2.5 hover:font-bold hover:ring-white hover:ring-1 hover:text-black">
</div>

<div class="grid items-baseline grid-flow-col grid-cols-2 col-span-2 gap-4 mx-8 mb-4 sm:items-center lg:container min-w-[240px] sm:mr-2 sm:block whitespace-nowrap bg-bakers h-96">
</div>

<div classs="overflow-y-scroll bg-cover bg-fixed bg-center bg-no-repeat bg-[75% 25%] border-t w-1/2 sm:flex-row sm:gap-8">></div>